@theme {
  /* Colors */
  --color-neutral-950: #000000;
  --color-neutral-0: #ffffff;

  --color-slate-900: #1a2a33;
  --color-slate-850: #21313b;
  --color-slate-800: #1f3641;
  --color-slate-300: #a8bfc9;
  --color-slate-100: #dbe8ed;

  --color-amber-400: #f2b137;
  --color-amber-300: #ffc860;

  --color-teal-400: #31c3bd;
  --color-teal-300: #65e9e4;

  /* Typography */
  --font-outfit: "Outfit", sans-serif;

  /* Spacing */
  --spacing-100: 8px;
  --spacing-150: 12px;
  --spacing-200: 16px;
  --spacing-250: 20px;
  --spacing-300: 24px;
  --spacing-375: 30px;
  --spacing-500: 40px;

  /* Radius */
  --radius-4: 4px;
  --radius-6: 6px;
  --radius-10: 10px;
  --radius-16: 16px;

  /* Breakpoints */
  --screen-tablet: 768px;
  --screen-desktop: 1440px;
}
